@using HairSalon.Models;
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <title>clients-directory</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Client Directory</h1>
      </div>
      @if(Model!=null)
      {
        foreach (var client in Model)
        {
          <h3><a href="/client/@client.GetClientId()">@client.GetClientName()</a></h3><a href="/client/@client.GetClientId()/update">Edit</a>
          <hr>

        }
      }
      <hr>
      <form action="/client/delete" method="post">
      <button type="submit" class="btn btn-danger">Delete all clients</button>
      </form>
      <hr>
      <h6><a href="/stylist/add">Add client to directory</a></h6>
      <hr>
      <h6><a href="/">Back to home</a></h6>
    </div>
  </body>
</html>
