@using HairSalon.Models;
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <title>client-specific</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        @if(Model!=null)
        {
          <h1>@Model.GetClientName()</h1>
        }
      </div>
        <hr>
          <form action="/client/@Model.GetClientId()/delete" method="post">
          <button type="submit" class="btn btn-danger">Remove client</button>
          </form>
          <hr>
          <h3><a href="/stylist">Back to stylist directory</a></h3>
          <br>
          <h3><a href="/">Back to home</a></h3>
    </div>
  </body>
</html>
