@using HairSalon.Models;
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <title>client-specific</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        @if(Model!=null)
        {
          <h1> @Model["newClient"].GetClientName() </h1>
        }
      </div>
        <hr>
        <a href="/client/delete/@Model["newClient"].GetClientId()">Delete Client</a>
        </form>
          <hr>
          <h3><a href="/client/view/all">Back to client directory</a></h3>
          <br>
          <h3><a href="/">Back to home</a></h3>
    </div>
  </body>
</html>
