@using HairSalon.Models;
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <title>specialty-directory</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Specialty Directory</h1>
      </div>
      @if(Model!=null)
      {
        foreach (var specialty in Model)
        {
          <h3><a href="/specialty/@specialty.GetSpecialtyId()">@specialty.GetSpecialtyName()</a></h3><a href="/specialty/@specialty.GetSpecialtyId()/update">Edit</a>
          <hr>
        }
      }
      <hr>
      <form action="/client/delete" method="post">
      <button type="submit" class="btn btn-danger">Delete all Specialties</button>
    </form>
      <hr>
      <h6><a href="/">Back to home</a></h6>
    </div>
  </body>
</html>
