<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <title>add-client</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
      <h1>Add a Client</h1>
      </div>
      <h4>Add a client to this stylist.</h4>
        <form action="/stylist" method="post">
          <hr>
          <label for="clientName">Name</label>
          <input type="text" name="stylistName">
          <hr>
          <button type="submit" class="btn btn-success">Submit</button>
        </form>
        <br>
        <a href="/stylist">View stylist directory!</a>
        </div>
  </body>
</html>
