<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <title>add-client</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
      <h1>Add a Client</h1>
        <br>
        <a href="/stylist">View stylist directory!</a>
        </div>
  </body>
</html>
