@using HairSalon.Models;
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <title>lil-tammy's-salon-index</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
      <h1>Lil Tammy's Salon</h1>
      </div>
      <h4><a href="stylist/add">Add Stylist</a></h4>
      <hr>
      <h4><a href="/stylist">Stylist directory</a></h4>
      <hr>
      <h4><a href="/client/view/all">Client directory</h4>
      <hr>
      </div>
  </body>
</html>
