@using HairSalon.Models;
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <title>stylists-directory</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Stylist Directory</h1>
      </div>
      @if(Model!=null)
      {
        foreach (var stylist in Model)
        {
          <h3><a href="/stylist/@stylist.GetStylistId()">@stylist.GetStylistName()</h3>
          <hr>

        }
      }
      <hr>
      <h6><a href="/">Add another stylist to the directory!</a></h6>
    </div>
  </body>
</html>
