<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <title>stylists-delete</title>
  </head>
  <body>
    <div class="container">

      <h1>Stylist has been removed from the database.</h1>
      <h3><a href="/stylist">Back to stylist directory</a></h3>
      <h3><a href="/">Back to home</a></h3>
    </div>
  </body>
</html>
